 .siteNav {
     li {
         &.active {
             color: red
         }
     }
 }

 .tabContent {
     li {
         display: none;

         &.active {
             display: block;
         }
     }
 }