 /**
*禁止选中文字user-select:none;
*
*
*/

 html {
     font-size: 62.5%;
     /* 1em = 10px */
     color: #222;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 *::after,
 *::before {
     box-sizing: border-box;
 }

 *.center {
     left: 50%;
     transform: translateX(-50%)
 }

 body {
     font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, Helvetica, sans-serif;
     margin: 0;
     background-color: #fff;
     color: #333;
     font-family: "微软雅黑";
     font-size: 1.6rem;
 }

 h1,
 h2,
 h3,
 h4,
 h5 {
     margin: 0;
     font-weight: normal;
 }

 ul,
 /* ul上下margin16(1em),左padding40 */
 li,
 /* li 默认display:inline-item,设置ul/li的list-style */
 ol {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 a {
     color: #666;
     text-decoration: none;
 }

 a:hover {
     color: #000;
 }

 dl,
 dt,
 dd,
 p {
     margin: 0;
     padding: 0;
 }

 img {
     vertical-align: middle;
 }

 hr {
     border-color: rgb(251, 251, 251)
 }

 label,
 button {
     cursor: pointer;
 }

 button {
     outline: none;
     text-align: center;
     border: none;
     cursor: pointer;
 }

 a:focus,
 button:focus,
 input[type=range]:focus,
 input:focus {
     outline: 0;
 }

 input {
     padding-left: 15px;
     font: inherit
 }

 /* range */

 input[type=range] {
     margin: 0;
     width: 100%;
 }

 input[type=range]:focus {
     outline: none;
 }

 input[type=range] {
     -webkit-appearance: none;
     /*清除系统默认样式*/
     background: linear-gradient(#ff7600, #ff7600) no-repeat #ccc;
     padding-left: 0;
     height: 1px;
 }

 input[type=range]::-webkit-slider-runnable-track {
     /* width: 100%; */
     height: .125rem;
     cursor: pointer;
     border-radius: 1px;
 }

 /*拖动块的样式*/

 input[type=range]::-webkit-slider-thumb {
     -webkit-appearance: none;
     /* border: 1px solid #ff7600; */
     height: .8rem;
     width: .8rem;
     border-radius: 50%;
     background: #fd9500;
     cursor: pointer;
     margin-top: -.3375rem;
 }

 /* placeholder */

 input::placeholder {
     color: rgba(193, 195, 208, 1);
     font-size: 11px;
 }

 input[type=checkbox] {
     margin: 0;
 }

 input[type=checkbox],
 input[type=radio] {
     /* vertical-align: bottom;
    vertical-align: text-bottom;
    vertical-align: middle; */
     vertical-align: sub;
 }

 /* layout */

 .fr {
     float: right;
 }

 .fl {
     float: left;
 }

 .hide {
     display: none;
 }

 .show {
     display: block;
 }

 .text-center {
     text-align: center
 }

 .text-left {
     text-align: left
 }

 .text-right {
     text-align: right;
 }

 .clearfix:after {
     content: "";
     display: block;
     clear: both;
 }

 /* 手势 */
 .cr {
     cursor: pointer;
 }

 /* flex */
 .flex {
     display: flex;
 }

 .flex-row {
     display: flex;
     flex-direction: row;
 }

 .flex-col {
     display: flex;
     flex-direction: column;
 }

 .flex-between {
     display: flex;
     justify-content: space-between;
 }

 .flex-around {
     display: flex;
     justify-content: space-around;
 }

 .jusBetween-alignCenter {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .jusCenter-alignCenter {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .jusAround-alignCenter {
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .jus-around {
     display: flex;
     justify-content: space-around;
 }

 .jus-between {
     display: flex;
     justify-content: space-between;
 }

 .jus-center {
     display: flex;
     justify-content: center;
 }

 .jus-end {
     display: flex;
     justify-content: flex-end;
 }

 .align-center {
     display: flex;
     align-items: center;
 }

 .align-end {
     display: flex;
     align-items: flex-end
 }

 .align-start {
     display: flex;
     align-items: flex-start
 }

 .align-between {
     display: flex;
     align-items: space-between;
 }

 .align-around {
     display: flex;
     align-items: space-around;
 }


 /* icon */

 .icon {
     width: 14px;
     height: 14px;
     display: inline-block;
     cursor: pointer;
     vertical-align: bottom;
 }

 /* position */
 .fixed-top {
     position: fixed;
     top: 0;
     z-index: 9;
 }

 .fixed-bottom {
     position: fixed;
     bottom: 0;

 }

 /* 默认样式 */
 textarea{
     outline: none;
 }

 /* 滚动条 */
 ::-webkit-scrollbar {}

 /* 这是针对缺省样式 (必须的) */
 ::-webkit-scrollbar-track {
     /* background-color: #b46868; */
 }

 /* 滚动条的滑轨背景颜色 */

 ::-webkit-scrollbar-thumb {
     /* background-color: rgba(0, 0, 0, 0.2);  */
 }

 /* 滑块颜色 */

 ::-webkit-scrollbar-button {
     /* background-color: #7c2929; */
 }

 /* 滑轨两头的监听按钮颜色 */

 ::-webkit-scrollbar-corner {
     /* background-color: black; */
 }

 /* 横向滚动条和纵向滚动条相交处尖角的颜色 */