$mainColor:#D43C33;
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bg{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(60px);
    img{
        height: 100%;
    }
}
.disc-container{
    position: relative;
    .pointer{
        z-index: 9;
        margin-left: 71px;
    }
    .disc{
        width: 342px;
        height: 342px;
        position: relative;
        margin-top: -80px;
        *{
            position: absolute;
        }
        .rotate{
            animation: rotate 20s linear infinite;
            animation-play-state: running;
            &.pause{
                animation-play-state: paused;
            }
        }
        
        .platebg{
            width: 60%;
            height: 60%;
            // border-radius: 50%;
        }
    }
}  
.links{
    width: 100vw;
    div{
        width:47vw;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        text-align: center;
        margin: 10px 0;
        &.open{
            border: 1px solid $mainColor;
            color: $mainColor;
        }

        &.download{
            background-color: $mainColor;
            color: #fff;
        }
    }
}



.song-description{
    color: #fff;
    h1{
        font-size: 20px;
        margin-bottom: 10px; 
    }
    .lyric{
        height: 72px;
        overflow: hidden;
        .lines{

            transition: transform 0.3s;
            p{
                font-size: 16px;
                height: 24px;
                line-height: 24px;
                color: rgb(209, 209, 209);
                &.active{
                    color: #fff
                }
            }
        }
    }

}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width:410px){
    .disc-container{
        transform: scale(0.865);
        margin-top:-29px;
    }
    .lyric{
        h1{
            font-size: 18px
        }
        p{
            font-size: 14px;
        }
    }
}
@media screen and (max-width:360px){
    .disc-container{
        margin-top: -58px;
        transform: scale(0.725)
    }
}