$mainColor: rgba(212, 60, 51, .7);
$activeColor:rgba(198, 198, 207, .7);

#bg {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./../../static/img/bg.jpg");
    background-size: cover;
    z-index: -999;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: rgba($color: #000, $alpha: 0.4);
    display: none;

    &.uploader-status {
        img {
            margin-left: 12px;
            margin-top: -30px;
        }
    }

    &.form-status {
        img {
            margin-left: -30px;
            margin-top: -20px;
        }
    }
}

.wrapper {
    margin-top: 64px;
    height: calc(100vh - 64px);
}

header {
    padding: 0 10px;
    background-color: $mainColor;
    color: #fff;
    line-height: 64px;
    width: 100%;
    height: 64px;

    img {
        margin-right: 10px;
    }
}

aside {
    width: 250px;
    overflow-y: scroll;
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: #fff;
}

.newSong {}

.newSong {
    width: 250px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    height: 60px;

    .iconfont {
        color: $mainColor;
        margin-right: 10px;
    }
}

.songList {
    padding-bottom: 60px;

    li {
        box-sizing: content-box;
        padding: 6px 15px;
        border-bottom: 1px solid #ccc;
        font-size:14px;
        min-height:40px;

        &.active {
            color: #fff;
            background-color: rgba($color: #000, $alpha: 0.4);
        }

        &:last-of-type {
            border-bottom: none;
        }

        .iconfont {
            font-size: 16px;
            margin-right: 10px;
        }
    }
}

footer {
    width: 200px;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border: 10px solid #8a8383
}

.uploader {
    cursor: pointer;
    margin-bottom: -50px;
    color: rgba(255, 255, 255, .6);
}

.uploaderArea {
    text-align: center;
    width: 530px;
    height: 250px;
    padding: 96px 100px;
    font-size: 15px;
    border: 5px dashed #ccc;
    border-radius: 2px;
    font-weight: bold;

    #uploaderContainer {
        width: 100%;

        * {
            width: 100%;
        }

        span {
            padding-top: 10px;
        }

        p {
            padding-bottom: 10px;
        }
    }

}

#uploaderBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, .8);
}

main {
    flex: 1;
}

.form {
    .title {
        margin-bottom: 20px;
        text-align: center;
        display: none;
    }
}

form {
    width: 460px;
    font-size: 14px;
    padding: 50px 115px;
    border-radius: 2px;
    padding: 12px 50px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;

    .row {
        margin: 10px 0;

        label {
            display: flex;
            align-items: center;

            input {
                border: 1px solid #ccc
            }

        }

        label.bg {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            #uploaderbgbtn,#uploaderListbgbtn {
                background-color: #000;
                cursor: pointer;
                height: 32px;
                padding: 0;
                width: 80px;
                margin-left: 0;
                margin-top: 8px;
            }
            input{
                width:270px;
            }
        }

        label.lyric{
            align-items: flex-start;
            textarea{
                width: 298px;
                padding: 5px;
                height: 86px;
                border :1px solid #ccc;
            }
        }

        span {
            width: 4em;
        }

        input {
            width: 296px;
            border: none;
            padding: 5px;
        }

        button {
            border: none;
            background-color: $mainColor;
            color: #fff;
            padding: 10px 20px;
            margin-left: 10px;
        }
    }

   
}

button a{
    color: #fff;
    &:hover{
        color: #fff;
    }
}

::-webkit-scrollbar {
    width: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {}

/* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
    background-color: rgb(187, 187, 187);
    // background-color: rgba(0, 0, 0, 0.2); 
}

/* 滑块颜色 */

::-webkit-scrollbar-button {
    height: 0;
    background-color: #7c2929;
}

/* 滑轨两头的监听按钮颜色 */